<div class="container body-container">

  <div class="row">
    <div class="col-md-12">
      <mg-page-header [title]="title"></mg-page-header>

      <table class="table table-striped table-hover">

        <tr>
          <th>Sr. No</th>
          <th>Name</th>
          <th>Number</th>
          <th>Village</th>
          <th>Taluka</th>
          <th>District</th>
        </tr>

        <tr *ngFor="let u of users | async; let i = index">
          <td>{{ i+1 }}</td>
          <td>{{ u.name }}</td>
          <td>{{ u.number }}</td>
          <td>{{ u.village }}</td>
          <td>{{ u.taluka }}</td>
          <td>{{ u.district }}</td>          
        </tr>

      </table>
    </div>
  </div>
</div>