.multi-item-carousel{
  .carousel-inner{
    > .item{
      //transition: 0ms ease-in-out left;
    }
    .active{
      &.left{
        //left:-33%;
      }
      &.right{
        left:33%;
      }
    }
    .next{
      left: 33%;
    }
    .prev{
      //left: -33%;
    }
    @media all and (transform-3d), (-webkit-transform-3d) {
      > .item{
        // use your favourite prefixer here
        //transition: 0ms ease-in-out left;
        transition: 500ms ease-in-out all;
        backface-visibility: hidden;
        transform: none!important;
      }
    }
  }
  .carouse-control{
    &.left, &.right{
      background-image: none;
    }
  }
}

.box{
    transition: box-shadow .3s;
    cursor: pointer;
}

.box:hover {
  box-shadow: 0 0 14px rgba(33,33,33,.4); 
}

h3 > a, h3 > a:link{
    text-decoration: none;
}
