<div class="row">
<div class="container body-container paddingTop">
  <div class="row">
    <div class="col-md-12">
      <div class="page-header" style="margin-top: 0">
        <h3 style="margin-top: 0;"><a [routerLink]="['/social-initiatives']" [innerHTML]="title[lang]"></a></h3>
      </div>
      <div class="carousel slide multi-item-carousel" id="theCarousel">
        <div class="carousel-inner">
          <div class="item" [class.active]="i==0" *ngFor="let j of posts; let i = index">
            <div class="col-md-4 col-sm-4" *ngFor="let p of j; let k=index" [class.hidden-xs]="k==1 || k==2" [routerLink]="['/social-initiatives', p.id]">
                  <div class="thumbnail box">
                    <img [src]="p['src']" alt="...">
                    <div class="caption">
                      <p style="font-size: 16px">{{ p.message.length > 201 ? (p.message | slice:0:199)+'...' : p.message }}
                        <a [routerLink]="['/social-initiatives', p.id]" class="primary-color">{{ readMore[lang] }}>></a>
                      </p>
                      <p align="right">{{ p.created_time | date:'d MMMM, y' }} at {{p.created_time | date:'hh:mm a'}}</p>
                    </div>
                  </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>