$sliderHeight: 85vh;
$primaryColor: #FD694D;

.body-container{
    background-color: black;
}
.carousel-control{
    background-image: none;
    color: $primaryColor;
}

@media (min-width: 768px) {
    .carousel, .carousel-inner {
        height: $sliderHeight;
        .item {
           height: $sliderHeight;

           img{
               height: $sliderHeight;
           }
        }
    }
}