<div class="row">
  <div class="col-md-12">

    <table class="table table-striped table-hover">

      <tr>
        <th>Sr. No</th>
        <th>Subject</th>
        <th>Description</th>
        <th>Phone No.</th>
        <th>Mail</th>
      </tr>

      <tr *ngFor="let c of complaints; let i = index">
        <td>{{ i+1 }}</td>
        <td>{{ c.subject }}</td>
        <td>{{ c.description }}</td>
        <td>{{ c.contactNo }}</td>
        <td>{{ c.email }}</td>
      </tr>

    </table>

  </div>
</div>
